.out-box-nav{
    height: 50px;
    padding-top: 24px;
    display: flex;
    justify-content: space-between;
    top: 0px;
    position: sticky;
    // background-color: #F2F8FF;
    background-color: white;
    box-shadow: 0px 5px 5px -5px #CFCFCF;
}

.nav-bttn-grp-left{
    display: flex;
    margin-left: 20rem;

}
.nav-bttn-grp-right{
    display: flex;
    margin-right: 20rem;
}

.nav-bttn{
    margin: 0px 20px;
    font-size: 1.2rem;
}